$margins: 10, 20, 5;

@mixin margin($param) {
  margin: unquote($param + "px");
}

@mixin margin-right($param) {
  margin-right: unquote($param + "px");
}

@mixin margin-left($param) {
  margin-left: unquote($param + "px");
}

@mixin margin-top($param) {
  margin-top: unquote($param + "px");
}

@mixin margin-bottom($param) {
  margin-bottom: unquote($param + "px");
}

@mixin margin-x($param) {
  @include margin-left($param);
  @include margin-right($param);
}

@mixin margin-y($param) {
  @include margin-top($param);
  @include margin-bottom($param);
}

@each $margin in $margins {
  .m-#{$margin} {
    @include margin($margin);
  }

  .mr-#{$margin}{
    @include margin-right($margin);
  }

  .ml-#{$margin} {
    @include margin-left($margin);
  }

  .mt-#{$margin} {
    @include margin-top($margin);
  }

  .mb-#{$margin} {
    @include margin-bottom($margin);
  }

  .mx-#{$margin} {
    @include margin-x($margin);
  }

  .my-#{$margin} {
    @include margin-y($margin);
  }
}

.m-0 {
  margin: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

