$paddings: 10, 20, 5, 40;

@mixin padding($param) {
  padding: unquote($param + "px");
}

@mixin padding-right($param) {
  padding-right: unquote($param + "px");
}

@mixin padding-left($param) {
  padding-left: unquote($param + "px");
}

@mixin padding-top($param) {
  padding-top: unquote($param + "px");
}

@mixin padding-bottom($param) {
  padding-bottom: unquote($param + "px");
}

@mixin padding-x($param) {
  @include padding-left($param);
  @include padding-right($param);
}

@mixin padding-y($param) {
  @include padding-top($param);
  @include padding-bottom($param);
}

@each $padding in $paddings {
  .p-#{$padding} {
    @include padding($padding);
  }

  .pr-#{$padding} {
    @include padding-right($padding);
  }

  .pl-#{$padding} {
    @include padding-left($padding);
  }

  .pt-#{$padding} {
    @include padding-top($padding);
  }

  .pb-#{$padding} {
    @include padding-bottom($padding);
  }

  .px-#{$padding} {
    @include padding-x($padding);
  }

  .py-#{$padding} {
    @include padding-y($padding);
  }
}

.p-0 {
  padding: 0;
}

.p-nav-fixed {
  padding-top: $height-menu;
}
