:root {
  --primary-color: #5352ed;
  --font-title-color: #ffffff;
  --font-text-color: #ffffff;
}

header {
  background-color: var(--primary-color);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#map {
  width: 100%;
  height: 100%;
}
