// couleur
$primary-color: #466099;
$secondary-color: #698fa9;
$grey-color: #e8ddcb;
$blue-color: #00afec;
$text-title: #6e6f6f;
$text-content: #6e6f6f;

//breakpoint
$breakpoint-tablette: 768px;
$breakpoint-desktop: 992px;
$breakpoint-desktopG: 1200px;

// menu
$height-menu: 45px;
$menu-color: #466099;
$toggle-color: #ffffff;
$item-menu-color: #698fa9;
$item-menu-text-color: #ffffff;
